<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>В прикрепленном файле список поисковых запросов пользователей за <%= @date %></p>
  </body>
</html>
